<!DOCTYPE html>
{% load static %}
{% load humanize %}
{% load i18n %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta -->
    {% block meta_header %}
        
    {% endblock meta_header %}

    <!-- Site Favicon -->
    <link rel="icon" href="{% static 'assets/img/logo/logo-footer.png' %}" type="image/x-icon">

    <!-- Css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/jquery-range-ui.css' %}">

    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    <!-- Loader -->
    <div class="bb-loader">
        <img src="{% static 'assets/img/logo/loader.png' %}" style="width: 66px;" alt="loader">
        <span class="loader"></span>
    </div>

    <!-- Header -->
    <header class="bb-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-top-header">
                            <div class="col-left-bar">
                            </div>
                            <div class="col-right-bar">
                                <div class="cols">
                                    <a href="{% url 'core:contact-us' %}">Help?</a>
                                </div>
                                <div class="cols">
                                    {% get_current_language as CURRENT_LANGUAGE %}
                                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                                    <div class="custom-dropdown">
                                        <a class="bb-dropdown-toggle" href="javascript:void(0)">Language</a>
                                        <ul class="dropdown">
                                            {% for language in languages %}
                                            <li>
                                                <a class="{% if language.code == CURRENT_LANGUAGE %}active{% endif %}" href="{% if language.code == 'vi' %}/{% else %}/{{ language.code }}/{% endif %}">{{ language.name_local }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-bottom-header">
                            <div class="cols bb-logo-detail">
                                <!-- Header Logo Start -->
                                <div class="header-logo">
                                    <a href="{% url 'core:index' %}">
                                        <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo" class="light">
                                    </a>
                                </div>
                                <!-- Header Logo End -->
                                <a href="javascript:void(0)" class="bb-sidebar-toggle bb-category-toggle">
                                    <svg class="svg-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M384 928H192a96 96 0 0 1-96-96V640a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v192a96 96 0 0 1-96 96zM192 608a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h192a32 32 0 0 0 32-32V640a32 32 0 0 0-32-32H192zM784 928H640a96 96 0 0 1-96-96V640a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v144a32 32 0 0 1-64 0V640a32 32 0 0 0-32-32H640a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h144a32 32 0 0 1 0 64zM384 480H192a96 96 0 0 1-96-96V192a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v192a96 96 0 0 1-96 96zM192 160a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h192a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32H192zM832 480H640a96 96 0 0 1-96-96V192a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v192a96 96 0 0 1-96 96zM640 160a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h192a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32H640z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="cols">
                                <div class="header-search">
                                    <form class="bb-btn-group-form" action="{% url 'core:search' %}" method="GET">
                                        <input class="form-control bb-search-bar" placeholder="{% trans 'Search products...' %}"
                                            type="text" name="q" value="{{ query }}">
                                        <button class="submit" type="submit"><i class="ri-search-line"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="cols bb-icons">
                                <div class="bb-flex-justify">
                                    <div class="bb-header-buttons">
                                        <a href="javascript:void(0)" class="bb-toggle-menu">
                                            <div class="header-icon">
                                                <i class="ri-menu-3-fill"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bb-main-menu-desk">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bb-inner-menu-desk">
                            <a href="javascript:void(0)" class="bb-header-btn bb-sidebar-toggle bb-category-toggle">
                                <svg class="svg-icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M384 928H192a96 96 0 0 1-96-96V640a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v192a96 96 0 0 1-96 96zM192 608a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h192a32 32 0 0 0 32-32V640a32 32 0 0 0-32-32H192zM784 928H640a96 96 0 0 1-96-96V640a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v144a32 32 0 0 1-64 0V640a32 32 0 0 0-32-32H640a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h144a32 32 0 0 1 0 64zM384 480H192a96 96 0 0 1-96-96V192a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v192a96 96 0 0 1-96 96zM192 160a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h192a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32H192zM832 480H640a96 96 0 0 1-96-96V192a96 96 0 0 1 96-96h192a96 96 0 0 1 96 96v192a96 96 0 0 1-96 96zM640 160a32 32 0 0 0-32 32v192a32 32 0 0 0 32 32h192a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32H640z" />
                                </svg>
                            </a>
                            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="ri-menu-2-line"></i>
                            </button>
                            <div class="bb-main-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'core:index' %}">{% trans 'Home' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.resolver_match.url_name == 'product-list' %}active{% endif %}" href="{% url 'core:product-list' %}">{% trans 'Products' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.resolver_match.url_name == 'about-us' %}active{% endif %}" href="{% url 'core:about-us' %}">{% trans 'About Us' %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}" href="{% url 'core:contact-us' %}">
                                            {% trans 'Contact Us' %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bb-mobile-menu-overlay"></div>
        <div id="bb-mobile-menu" class="bb-mobile-menu">
            <div class="bb-menu-title">
                <span class="menu_title">My Menu</span>
                <button type="button" class="bb-close-menu">×</button>
            </div>
            <div class="bb-menu-inner">
                <div class="bb-menu-content">
                    <ul>
                        <li>
                            <a href="{% url 'core:index' %}">{% trans 'Home' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'core:product-list' %}">{% trans 'Products' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'core:about-us' %}">{% trans 'About Us' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'core:contact-us' %}">{% trans 'Contact Us' %}</a>
                        </li>
                    </ul>
                </div>
                <div class="header-res-lan-curr">
                    <!-- Social Start -->
                    <div class="header-res-social">
                        <div class="header-top-social">
                            <ul class="mb-0">
                                <li class="list-inline-item">
                                    <a href="#"><i class="ri-facebook-fill"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="ri-twitter-fill"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="ri-instagram-line"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="ri-linkedin-fill"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Social End -->
                </div>
            </div>
        </div>
    </header>

    <!-- Content -->
    {% block content %}
        
    {% endblock content %}

    <!-- Footer -->
    <footer class="bb-footer margin-t-50">
        <div class="footer-container">
            <div class="footer-top padding-tb-50">
                <div class="container">
                    <div class="row m-minus-991" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="col-sm-12 col-lg-5 bb-footer-cat">
                            <div class="bb-footer-widget bb-footer-company">
                                <img src="{% static 'assets/img/logo/logo-footer.png' %}" class="bb-footer-logo" alt="footer logo">
                                <img src="{% static 'assets/img/logo/logo-dark.png' %}" class="bb-footer-dark-logo" alt="footer logo">
                                <p class="bb-footer-detail">{% trans 'We specialize in exporting 100% organic products from Asia and Europe to countries around the world. Committed to quality and sustainability, we deliver safe, natural, and health-enhancing products to our customers.' %}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-2 bb-footer-account">
                            <div class="bb-footer-widget">
                                <h4 class="bb-footer-heading">{% trans 'About' %}</h4>
                                <div class="bb-footer-links bb-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="bb-footer-link">
                                            <a href="{% url 'core:about-us' %}">{% trans 'About us' %}</a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="{% url 'core:contact-us' %}">{% trans 'Contact us' %}</a>
                                        </li>
                                        <li class="bb-footer-link">
                                            <a href="{% url 'core:product-list' %}">{% trans 'Products' %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-5 bb-footer-cont-social">
                            <div class="bb-footer-contact">
                                <div class="bb-footer-widget">
                                    <h4 class="bb-footer-heading">{% trans 'Contact' %}</h4>
                                    <div class="bb-footer-links bb-footer-dropdown">
                                        <ul class="align-items-center">
                                            <li class="bb-footer-link bb-foo-location">
                                                <p><i class="ri-map-pin-line" style="color: #6c7fd8"></i> {% trans 'Headquarters: 62 Nguyễn Bá Tuyển, Ward 12, Tân Bình District, Ho Chi Minh City' %}</p>
                                            </li>
                                            <li class="bb-footer-link bb-foo-location">
                                                <p><i class="ri-map-pin-line" style="color: #6c7fd8"></i> {% trans 'Can Tho Branch: 82B Street No. 5, Area 2, Hong Phat Residential Area, An Binh Ward, Ninh Kieu District, Can Tho"' %}</p>
                                            </li>
                                            <li class="bb-footer-link bb-foo-call">
                                                <span>
                                                    <i class="ri-whatsapp-line"></i>
                                                </span>
                                                <a href="tel:(+84) 901 05 75 95">(+84) 355 049 581</a>
                                            </li>
                                            <li class="bb-footer-link bb-foo-mail">
                                                <span>
                                                    <i class="ri-mail-line"></i>
                                                </span>
                                                <a href="mailto:worldpalms@gmail.com">worldpalms@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bb-footer-social">
                                <div class="bb-footer-widget">
                                    <div class="bb-footer-links bb-footer-dropdown">
                                        <ul class="align-items-center">
                                            <li class="bb-footer-link">
                                                <a href="javascript:void(0)"><i class="ri-facebook-fill"></i></a>
                                            </li>
                                            <li class="bb-footer-link">
                                                <a href="javascript:void(0)"><i class="ri-twitter-fill"></i></a>
                                            </li>
                                            <li class="bb-footer-link">
                                                <a href="javascript:void(0)"><i class="ri-linkedin-fill"></i></a>
                                            </li>
                                            <li class="bb-footer-link">
                                                <a href="javascript:void(0)"><i class="ri-instagram-line"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="bb-bottom-info">
                            <div class="footer-copy">
                                <div class="footer-bottom-copy ">
                                    <div class="bb-copy">Copyright © <span id="copyright_year"></span>
                                        <a class="site-name" href="{% url 'core:index' %}">Worldpalms Vina</a> all rights reserved.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Category Popup -->
    <div class="bb-category-sidebar">
        <div class="bb-category-overlay"></div>
        <div class="category-sidebar">
            <button type="button" class="bb-category-close" title="Close"></button>
            <div class="container-fluid">
                <div class="row mb-minus-24">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="sub-title">
                                    <h4>{% trans 'List Products' %}</h4>
                                </div>
                            </div>
                            {% for p in products %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="{{ p.image.url }}" alt="{{ p.title }}">
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <div class="bb-pro-pagination">
                            {% if total_products > 10 %}
                                <ul>
                                    {% if products.has_previous %}
                                        <li>
                                            <a href="?page={{ products.previous_page_number }}" class="next">« {% trans 'Previous' %}</a>
                                        </li>

                                        {% if products.number > 3 %}
                                            <li>
                                                <a href="?page=1">1</a>
                                            </li>
                                            {% if products.number > 4 %}
                                                <li>
                                                    <a href="javascript:void(0)">...</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {% for num in products.paginator.page_range %}
                                        {% if products.number == num %}
                                            <li class="active">
                                                <a href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                    <li>
                                                <a href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if products.has_next %}
                                        {% if products.number < products.paginator.num_pages|add:'-3' %}
                                        <li>
                                                <a href="javascript:void(0)">...</a>
                                            </li>
                                            <li>
                                                <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                            </li>
                                        {% elif products.number < products.paginator.num_pages|add:'-2' %}
                                            <li>
                                                <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                            </li>
                                        {% endif %}

                                        <li>
                                            <a href="?page={{ products.next_page_number }}" class="next">{% trans 'Next' %} »</i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Back to top  -->
    <a href="#Top" class="back-to-top result-placeholder">
        <i class="ri-arrow-up-line"></i>
        <div class="back-to-top-wrap active-progress">
            <svg viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
            </svg>
        </div>
    </a>

    <!-- Plugins -->
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'assets/js/vendor/jquery.zoom.min.js' %}"></script> -->
    <script src="{% static 'assets/js/vendor/jquery.zoom.js' %}"></script>
    <script src="{% static 'assets/js/vendor/aos.js' %}"></script>
    <script src="{% static 'assets/js/vendor/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/smoothscroll.min.js' %}"></script>
    <!-- <script src="{% static 'assets/js/vendor/countdownTimer.js' %}"></script> -->
    <script src="{% static 'assets/js/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-range-ui.min.js' %}"></script>

    <!-- main-js -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/function.js' %}"></script>
</body>

</html>