{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block meta_header %}
    <title>{% trans 'About' %} - Worldpalms Vina</title>
    <meta property="og:title" content="{% trans 'About' %} - Worldpalms Vina" />
    <meta property="og:description" content="{% trans 'We import full packages of healthcare products and functional foods from South Korea and distribute them wholesale and retail through official channels in Vietnam.' %}" />
    <meta property="og:url" content="{% url 'core:about-us' %}" />
    <meta property="og:image" content="{% static 'assets/img/logo/logo.png' %}" />
{% endblock meta_header %}
{% block content %}
    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row bb-breadcrumb-inner">
                        <div class="col-md-12 col-sm-12"></div>
                            <ul class="bb-breadcrumb-list">
                                <li class="bb-breadcrumb-item"><a href="{% url 'core:index' %}">{% trans 'Home' %}</a></li>
                                <li><i class="ri-arrow-right-double-fill"></i></li>
                                <li class="bb-breadcrumb-item active">{% trans 'About Us' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="section-about padding-tb-50">
        <div class="container">
            <div class="row mb-minus-24">
                <div class="col-lg-12 col-12 mb-24">
                    <div class="bb-about-img">
                        <img src="{% static 'assets/img/about/one.png' %}" alt="about-one">
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-12 mb-24">
                    <div class="bb-about-contact">
                        <div class="section-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class="section-detail">
                                <h2 class="bb-title">{% trans 'About the' %} <span>WorldPalms Vina</span></h2>
                            </div>
                        </div>
                        <div class="about-inner-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <h4>WorldPalms Vina</h4>
                            <p>Worldpalms Vina được thành lập vào năm 2020 bởi một nhà doanh nghiệp đến từ Hàn Quốc với sứ mệnh mang đến sự phục hồi và cải thiện sức khỏe cho khách hàng. Chúng tôi tập trung vào việc cung cấp các sản phẩm chất lượng cao, được chọn lọc kỹ càng từ những nguồn nguyên liệu tốt nhất.</p>
                            <p>Worldpalms Vina cam kết đảm bảo tính an toàn và hiệu quả của các sản phẩm thông qua quy trình sản xuất và kiểm soát chất lượng nghiêm ngặt.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="section-services padding-tb-50">
        <div class="container">
            <div class="row mb-minus-24">
                <div class="col-lg-4 col-12 mb-24">
                    <div class="section-title bb-left" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title"><span>{% trans 'WHO WE ARE' %}</span></h2>
                            <p>{% trans 'Worldpalms Vina was founded in 2020 by a Korean entrepreneur with the mission of bringing recovery and health improvement to customers. We focus on providing high quality products, carefully selected from the best raw materials.' %}</p>
                            <p>{% trans 'Worldpalms Vina is committed to ensuring the safety and effectiveness of its products through strict manufacturing and quality control processes.' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-24">
                    <div class="section-title bb-left" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title"><span>{% trans 'WHAT WE DO' %}</span></h2>
                            <p>{% trans 'Worldpalms Vina imports high quality finished products directly from the factory in Korea and exclusively distributes them to regional distributors and agents through an extensive distribution channel system.' %}</p>
                            <p>{% trans 'We build highly preferential sales policies for the distribution system and attractive promotional programs for consumers.' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mb-24">
                    <div class="section-title bb-left" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title"><span>{% trans 'PRODUCT' %}</span></h2>
                            <p>{% trans 'Worldpalms Vina selects and imports the best quality products for Vietnamese health. Main products include collagen supplements, ginseng, vitamins, probiotics, colostrum and some other products.' %}</p>
                            <p>{% trans 'Each product line includes different forms of use and packaging, providing consumers with a wide range of choices.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}