{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block meta_header %}
    <title>Worldpalms Vina - {% trans 'Importing Korean products' %}</title>
    <meta property="og:title" content="Worldpalms Vina - {% trans 'Importing Korean products' %}" />
    <meta property="og:description" content="{% trans 'We import full packages of healthcare products and functional foods from South Korea and distribute them wholesale and retail through official channels in Vietnam.' %}" />
    <meta property="og:url" content="{% url 'core:index' %}" />
    <meta property="og:image" content="{% static 'assets/img/logo/logo.png' %}" />
{% endblock meta_header %}
{% block content %}
    <!-- Hero -->
    <section class="section-hero margin-b-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide-1">
                                <div class="row mb-minus-24">
                                    <div class="col-lg-6 col-12 order-lg-1 order-2 mb-24">
                                        <div class="hero-contact">
                                            <p>{% trans 'Collagen Supplement' %}</p>
                                            <h1>{% trans 'For <span>smooth</span> skin' %}</h1>
                                            <a href="{% url 'core:product-list' %}" class="bb-btn-1">{% trans 'Shop Now' %}</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 order-lg-2 order-1 mb-24">
                                        <div class="hero-image">
                                            <img src="{% static 'assets/img/hero/hero-1.png' %}" alt="hero">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                                class="animate-shape">
                                                <linearGradient id="shape_1" x1="100%" x2="0%" y1="100%" y2="0%">
                                                </linearGradient>
                                                <path d="">
                                                    <animate repeatCount="indefinite" attributeName="d" dur="15s"
                                                        values="" />
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide slide-2">
                                <div class="row mb-minus-24">
                                    <div class="col-lg-6 col-12 order-lg-1 order-2 mb-24">
                                        <div class="hero-contact">
                                            <p>{% trans 'Collagen Supplement' %}</p>
                                            <h2>{% trans 'For <span>smooth</span> skin' %}</h2>
                                            <a href="{% url 'core:product-list' %}" class="bb-btn-1">{% trans 'Shop Now' %}</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 order-lg-2 order-1 mb-24">
                                        <div class="hero-image">
                                            <img src="{% static 'assets/img/hero/hero-2.png' %}" alt="hero">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                                class="animate-shape">
                                                <linearGradient id="shape_2" x1="80%" x2="0%" y1="80%" y2="0%">
                                                </linearGradient>
                                                <path d="">
                                                    <animate repeatCount="indefinite" attributeName="d" dur="15s"
                                                        values="" />
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide slide-3">
                                <div class="row mb-minus-24">
                                    <div class="col-lg-6 col-12 order-lg-1 order-2 mb-24">
                                        <div class="hero-contact">
                                            <p>{% trans 'Collagen Supplement' %}</p>
                                            <h2>{% trans 'For <span>smooth</span> skin' %}</h2>
                                            <a href="{% url 'core:product-list' %}" class="bb-btn-1">{% trans 'Shop Now' %}</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 order-lg-2 order-1 mb-24">
                                        <div class="hero-image">
                                            <img src="{% static 'assets/img/hero/hero-2.png' %}" alt="hero">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                                class="animate-shape">
                                                <linearGradient id="shape_2" x1="80%" x2="0%" y1="80%" y2="0%">
                                                </linearGradient>
                                                <path d="">
                                                    <animate repeatCount="indefinite" attributeName="d" dur="15s"
                                                        values="" />
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-white"></div>
                        <div class="swiper-buttons">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Day of the deal -->
    <section class="section-deal padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title bb-deal" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title">{% trans '<span>Best selling</span> products</span>' %}</h2>
                            <p>{% trans "Don't wait. The time will never be just right." %}</p>
                        </div>
                        <div id="dealend" class="dealend-timer"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bb-deal-slider">
                        <div class="bb-deal-block owl-carousel">
                            {% for p in products %}
                                <div class="bb-deal-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="bb-pro-box">
                                        <div class="bb-pro-img">
                                            <a href="{% url 'core:product-detail' p.pid %}">
                                                <div class="inner-img">
                                                    <img class="main-img" src="{{ p.image.url }}"
                                                        alt="product-1">
                                                    <img class="hover-img" src="{{ p.image.url }}"
                                                        alt="product-1">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="bb-pro-contact">
                                            <div class="bb-pro-subtitle">
                                                <a href="javascript:void(0)">{{ p.category.title }}</a>
                                            </div>
                                            <h4 class="bb-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                                            </h4>
                                            <p>{{ product.description|safe|truncatechars:250 }}</p>
                                            <div class="bb-price">
                                                <div class="inner-price">
                                                    <input type="hidden" class="current-product-price-{{ p.id }}" value="{{ p.price|floatformat:0 }}" />
                                                    <span class="new-price">{{ p.price|floatformat:0|intcomma:False }}đ</span>
                                                    <span class="old-price">{{ p.old_price|floatformat:0|intcomma:False }}đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bb-pro-pagination">
                        {% if total_products > 10 %}
                            <p>{% trans 'Showing' %} 10-{{total_products}} {% trans 'products' %}</p>
                            <ul>
                                {% if products.has_previous %}
                                    <li>
                                        <a href="?page={{ products.previous_page_number }}" class="next">« Previous</a>
                                    </li>

                                    {% if products.number > 3 %}
                                        <li>
                                            <a href="?page=1">1</a>
                                        </li>
                                        {% if products.number > 4 %}
                                            <li>
                                                <a href="javascript:void(0)">...</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="active">
                                            <a href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                <li>
                                            <a href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if products.has_next %}
                                    {% if products.number < products.paginator.num_pages|add:'-3' %}
                                    <li>
                                            <a href="javascript:void(0)">...</a>
                                        </li>
                                        <li>
                                            <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                        </li>
                                    {% elif products.number < products.paginator.num_pages|add:'-2' %}
                                        <li>
                                            <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                        </li>
                                    {% endif %}

                                    <li>
                                        <a href="?page={{ products.next_page_number }}" class="next">Next »</i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <p>{% trans 'Showing' %} {{total_products}} {% trans 'products' %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="section-services padding-tb-50">
        <div class="container">
            <div class="row mb-minus-24">
                <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="flip-up" data-aos-duration="1000"
                    data-aos-delay="200">
                    <div class="bb-services-box">
                        <div class="services-img">
                            <img src="{% static 'assets/img/services/1.png' %}" alt="services-1">
                        </div>
                        <div class="services-contact">
                            <h4>Free Shipping</h4>
                            <p>Free shipping on all Us order or above $200</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="flip-up" data-aos-duration="1000"
                    data-aos-delay="400">
                    <div class="bb-services-box">
                        <div class="services-img">
                            <img src="{% static 'assets/img/services/2.png' %}" alt="services-2">
                        </div>
                        <div class="services-contact">
                            <h4>24x7 Support</h4>
                            <p>Contact us 24 hours a day, 7 days a week</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="flip-up" data-aos-duration="1000"
                    data-aos-delay="600">
                    <div class="bb-services-box">
                        <div class="services-img">
                            <img src="{% static 'assets/img/services/3.png' %}" alt="services-3">
                        </div>
                        <div class="services-contact">
                            <h4>30 Days Return</h4>
                            <p>Simply return it within 30 days for an exchange</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-24" data-aos="flip-up" data-aos-duration="1000"
                    data-aos-delay="800">
                    <div class="bb-services-box">
                        <div class="services-img">
                            <img src="{% static 'assets/img/services/4.png' %}" alt="services-4">
                        </div>
                        <div class="services-contact">
                            <h4>Payment Secure</h4>
                            <p>Contact us 24 hours a day, 7 days a week</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}