{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block meta_header %}
    <title>Worldpalms Vina - {% trans 'Importing Korean products' %}</title>
    <meta property="og:title" content="Worldpalms Vina - {% trans 'Importing Korean products' %}" />
    <meta property="og:description" content="{% trans 'We import full packages of healthcare products and functional foods from South Korea and distribute them wholesale and retail through official channels in Vietnam.' %}" />
    <meta property="og:url" content="{% url 'core:index' %}" />
    <meta property="og:image" content="{% static 'assets/img/logo/logo.png' %}" />
{% endblock meta_header %}
{% block content %}
    <!-- Hero -->
    <section class="section-banner-two margin-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12 banner-justify-box-contact">
                    <div class="banner-two-box">
                        <h4 style="font-size: 15px;">{% trans '<span style="font-size: 15px;">Organic</span> Health Boosters' %}</h4>
                        <a style="margin-left: 40px;" href="{% url 'core:product-list' %}" class="bb-btn-1">{% trans 'Shop Now' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Day of the deal -->
    <section class="section-deal padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title bb-deal" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title">{% trans '<span>Best selling</span> products</span>' %}</h2>
                            <p>{% trans "Don't wait. The time will never be just right." %}</p>
                        </div>
                        <div id="dealend" class="dealend-timer"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bb-deal-slider">
                        <div class="bb-deal-block owl-carousel">
                            {% for p in products %}
                                <div class="bb-deal-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="bb-pro-box">
                                        <div class="bb-pro-img">
                                            <a href="{% url 'core:product-detail' p.pid %}">
                                                <div class="inner-img">
                                                    <img class="main-img" src="{{ p.image.url }}"
                                                        alt="product-1">
                                                    <img class="hover-img" src="{{ p.image.url }}"
                                                        alt="product-1">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="bb-pro-contact">
                                            <h4 class="bb-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="bb-pro-pagination">
                        {% if total_products > 10 %}
                            <p>{% trans 'Showing' %} 10-{{total_products}} {% trans 'products' %}</p>
                            <ul>
                                {% if products.has_previous %}
                                    <li>
                                        <a href="?page={{ products.previous_page_number }}" class="next">« Previous</a>
                                    </li>

                                    {% if products.number > 3 %}
                                        <li>
                                            <a href="?page=1">1</a>
                                        </li>
                                        {% if products.number > 4 %}
                                            <li>
                                                <a href="javascript:void(0)">...</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="active">
                                            <a href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                <li>
                                            <a href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if products.has_next %}
                                    {% if products.number < products.paginator.num_pages|add:'-3' %}
                                    <li>
                                            <a href="javascript:void(0)">...</a>
                                        </li>
                                        <li>
                                            <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                        </li>
                                    {% elif products.number < products.paginator.num_pages|add:'-2' %}
                                        <li>
                                            <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                        </li>
                                    {% endif %}

                                    <li>
                                        <a href="?page={{ products.next_page_number }}" class="next">Next »</i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <p>{% trans 'Showing' %} {{total_products}} {% trans 'products' %}</p>
                        {% endif %}
                    </div>
                </div> -->
            </div>
        </div>
    </section>

{% endblock content %}