{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block meta_header %}
    <title>{% trans 'Shop Page' %} - Worldpalms Vina</title>
    <meta property="og:title" content="{% trans 'Shop Page' %} - Worldpalms Vina" />
    <meta property="og:description" content="{% trans 'We import full packages of healthcare products and functional foods from South Korea and distribute them wholesale and retail through official channels in Vietnam.' %}" />
    <meta property="og:url" content="{% url 'core:product-list' %}" />
    <meta property="og:image" content="{% static 'assets/img/logo/logo.png' %}" />
{% endblock meta_header %}
{% block content %}
    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row bb-breadcrumb-inner">
                        <div class="col-md-12 col-sm-12"></div>
                            <ul class="bb-breadcrumb-list">
                                <li class="bb-breadcrumb-item"><a href="{% url 'core:index' %}">{% trans 'Home' %}</a></li>
                                <li><i class="ri-arrow-right-double-fill"></i></li>
                                <li class="bb-breadcrumb-item active">{% trans 'Shop Page' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Shop section -->
    <section class="section-shop padding-b-50">
        <div class="container">
            <div class="row">
                <div class="bb-shop-overlay"></div>
                <div class="col-12">
                    <div class="bb-shop-pro-inner">
                        <div class="row mb-minus-24">
                            <div class="col-12">
                                <div class="bb-pro-list-top">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="bb-bl-btn">
                                                <!-- <button type="button" class="grid-btn btn-filter">
                                                    <i class="ri-equalizer-2-line"></i>
                                                </button> -->
                                                <button type="button" class="grid-btn btn-grid-100 active">
                                                    <i class="ri-apps-line"></i>
                                                </button>
                                                <button type="button" class="grid-btn btn-list-100">
                                                    <i class="ri-list-unordered"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for p in products %}
                            <div class="col-lg-3 col-md-4 col-6 mb-24 bb-product-box pro-bb-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="bb-pro-box">
                                    <div class="bb-pro-img">
                                        <a href="{% url 'core:product-detail' p.pid %}">
                                            <div class="inner-img">
                                                <img class="main-img" src="{{ p.image.url }}"
                                                    alt="product-1">
                                                <img class="hover-img" src="{{ p.image.url }}"
                                                    alt="product-1">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bb-pro-contact">
                                        <h4 class="bb-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-12">
                                <div class="bb-pro-pagination">
                                    {% if total_products > 10 %}
                                        <p>{% trans 'Showing' %} 10-{{total_products}} {% trans 'products' %}</p>
                                        <ul>
                                            {% if products.has_previous %}
                                                <li>
                                                    <a href="?page={{ products.previous_page_number }}" class="next">« Previous</a>
                                                </li>

                                                {% if products.number > 3 %}
                                                    <li>
                                                        <a href="?page=1">1</a>
                                                    </li>
                                                    {% if products.number > 4 %}
                                                        <li>
                                                            <a href="javascript:void(0)">...</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}

                                            {% for num in products.paginator.page_range %}
                                                {% if products.number == num %}
                                                    <li class="active">
                                                        <a href="?page={{ num }}">{{ num }}</a>
                                                    </li>
                                                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                            <li>
                                                        <a href="?page={{ num }}">{{ num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if products.has_next %}
                                                {% if products.number < products.paginator.num_pages|add:'-3' %}
                                                <li>
                                                        <a href="javascript:void(0)">...</a>
                                                    </li>
                                                    <li>
                                                        <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                                    </li>
                                                {% elif products.number < products.paginator.num_pages|add:'-2' %}
                                                    <li>
                                                        <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                                                    </li>
                                                {% endif %}

                                                <li>
                                                    <a href="?page={{ products.next_page_number }}" class="next">Next »</i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% else %}
                                        <p>{% trans 'Showing' %} {{total_products}} {% trans 'products' %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}