{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row bb-breadcrumb-inner">
                        <div class="col-md-12 col-sm-12">
                            <ul class="bb-breadcrumb-list">
                                <li class="bb-breadcrumb-item"><a href="{% url 'core:index' %}">{% trans 'Home' %}</a></li>
                                <li><i class="ri-arrow-right-double-fill"></i></li>
                                <li class="bb-breadcrumb-item active">{% trans 'Register' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Register -->
    <section class="section-register padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bb-register" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title bb-center">
                                    <div class="section-detail">
                                        <h2 class="bb-title">Register</h2>
                                        <p class="mb-30">{% trans 'Already have an account?' %} <a style="color: #3BB77E;" href="{% url 'userauths:sign-in' %}">{% trans 'Login' %}</a></p>
                                    </div>
                                </div>
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {% for field in form  %}
                                            <p>{{field.errors|striptags}}</p>
                                        {% endfor %}
                                        <p>{{form.non_field_errors|striptags}}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Username*</label>
                                        <input type="text" name="username" id="username" placeholder="{% trans 'Enter your username' %}" required>
                                    </div>
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Email*</label>
                                        <input type="email" name="email" id="email" placeholder="{% trans 'Enter your email' %}" required>
                                    </div>
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Password*</label>
                                        <input type="password" name="password1" id="password1" placeholder="{% trans 'Enter your password' %}" required>
                                    </div>
                                    <div class="bb-register-wrap bb-register-width-50">
                                        <label>Password Confirmation*</label>
                                        <input type="password" name="password2" id="password2" placeholder="{% trans 'Enter your password confirmation' %}" required>
                                    </div>
                                    <div class="bb-register-button">
                                        <button type="submit" class="bb-btn-2">{% trans 'Register' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}