{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
    <!-- Breadcrumb -->
    <section class="section-breadcrumb margin-b-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row bb-breadcrumb-inner">
                        <div class="col-md-12 col-sm-12">
                            <ul class="bb-breadcrumb-list">
                                <li class="bb-breadcrumb-item"><a href="{% url 'core:index' %}">{% trans 'Home' %}</a></li>
                                <li><i class="ri-arrow-right-double-fill"></i></li>
                                <li class="bb-breadcrumb-item active">{% trans 'Login' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Login -->
    <section class="section-login padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title">{% trans 'Log <span>In</span>' %}</h2>
                            <!-- <p>Best place to buy and sell digital products</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bb-login-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <form method="post">
                            {% csrf_token %}
                            <div class="bb-login-wrap">
                                <label for="email">Email*</label>
                                {{ form.email }}
                            </div>
                            <div class="bb-login-wrap">
                                <label for="email">Password*</label>
                                {{ form.password }}
                            </div>
                            <div class="bb-login-button">
                                <button class="bb-btn-2" type="submit">{% trans 'Login' %}</button>
                                <a href="{% url 'userauths:sign-up' %}">{% trans 'Register' %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}